# Copyright (c) 2025 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config SOC_FAMILY_MICROCHIP_PIC32CX_BZ3
	bool

config SOC_FAMILY
	default "microchip_pic32cx_bz3" if SOC_FAMILY_MICROCHIP_PIC32CX_BZ3

config SOC_SERIES_REVISION_N
	bool
	depends on SOC_FAMILY_MICROCHIP_PIC32CX_BZ3

config SOC_SERIES_REVISION
	string
	default "n" if SOC_SERIES_REVISION_N
	default ""
	depends on SOC_FAMILY_MICROCHIP_PIC32CX_BZ3

config SOC_SERIES_PIC32CX_BZ3
	bool
	select SOC_FAMILY_MICROCHIP_PIC32CX_BZ3
	help
	  Enable support for Microchip PIC32CX_BZ3 Cortex-M4F microcontrollers.

config SOC_SERIES_PIC32CX_BZ36
	bool
	select SOC_FAMILY_MICROCHIP_PIC32CX_BZ3
	help
	  Enable support for Microchip PIC32CX_BZ3 Cortex-M4F microcontrollers.

config SOC_SERIES
	default "bz3" if SOC_SERIES_PIC32CX_BZ3
	default "bz36" if SOC_SERIES_PIC32CX_BZ36

config SOC_PIC32CX5109BZ31048
	bool
	select SOC_SERIES_PIC32CX_BZ3

config SOC_PIC32CX5109BZ31032
	bool
	select SOC_SERIES_PIC32CX_BZ3

config SOC_PIC32CX5109BZ36048
	bool
	select SOC_SERIES_PIC32CX_BZ36

config SOC_PIC32CX5109BZ36032
	bool
	select SOC_SERIES_PIC32CX_BZ36

config SOC
	default "pic32cx5109bz31048" if SOC_PIC32CX5109BZ31048
	default "pic32cx5109bz31032" if SOC_PIC32CX5109BZ31032
	default "pic32cx5109bz36048" if SOC_PIC32CX5109BZ36048
	default "pic32cx5109bz36032" if SOC_PIC32CX5109BZ36032
