# Copyright (c) 2025 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

if BOARD_PIC32WM_BZ6204_CURIOSITY

config NET_L2_ETHERNET
	default y if NETWORKING

endif # BOARD_PIC32WM_BZ6204_CURIOSITY
