# Copyright (c) 2025 Microchip Technology Inc.
# SPDX-License-Identifier: Apache-2.0

config BOARD_PIC32WM_BZ6204_CURIOSITY
	select SOC_PIC32CX2051BZ62132

choice FUSES_DEVCFG1_SCOM0_HSEN
	default FUSES_DEVCFG1_SCOM0_HSEN_PPS if $(dt_nodelabel_enabled_with_compat,sercom0,$(DT_COMPAT_MICROCHIP_SERCOM_G1_UART))
endchoice

choice FUSES_DEVCFG1_SCOM1_HSEN
	default FUSES_DEVCFG1_SCOM1_HSEN_DIRECT if $(dt_nodelabel_enabled_with_compat,sercom1,$(DT_COMPAT_MICROCHIP_SERCOM_G1_I2C))
endchoice

choice FUSES_DEVCFG1_QSPI_HSEN
	default FUSES_DEVCFG1_QSPI_HSEN_DIRECT if $(dt_nodelabel_enabled_with_compat,qspi0,$(DT_COMPAT_MICROCHIP_QSPI_G1_MSPI))
endchoice

choice FUSES_DEVCFG4_VBKP_32KCSEL
	default FUSES_DEVCFG4_VBKP_32KCSEL_SOSC if LOW_POWER_CLOCK_SOURCE_SOSC
	default FUSES_DEVCFG4_VBKP_32KCSEL_POSC if LOW_POWER_CLOCK_SOURCE_POSC
endchoice

choice FUSES_DEVCFG4_LPCLK_MOD
	default FUSES_DEVCFG4_LPCLK_MOD_DIV_1_024  if LOW_POWER_CLOCK_SOURCE_SOSC
	default FUSES_DEVCFG4_LPCLK_MOD_DIV_1  if LOW_POWER_CLOCK_SOURCE_POSC
endchoice

choice FUSES_DEVCFG4_LPOSCEN
	default FUSES_DEVCFG4_LPOSCEN_ON if LOW_POWER_CLOCK_SOURCE_SOSC
	default FUSES_DEVCFG4_LPOSCEN_OFF if LOW_POWER_CLOCK_SOURCE_POSC
endchoice
